Repository CHTJonas/roombooking, changes with the labels that .github/labeler.yml gives for each.
All labels: css, dependencies, docker, html, javascript, ruby

.github/labeler.yml:

css:
- "**/*.css"
- "**/*.scss"
- "**/*.sass"

dependencies:
- "Gemfile"
- "Gemfile.lock"
- "yarn.lock"

docker:
- "**/Dockerfile"
- "**/docker-compose.yml"

html:
- "**/*.html"
- "**/*.html.erb"

javascript:
- "**/*.js"
- "**/*.coffee"
- "yarn.lock"

ruby:
- "**/*.rb"
- "**/*.ruby"
- "Gemfile"
- "Gemfile.lock"

Bump Rails badge version in README
  README.md
Labels: none

Fix typo in setup/update helper scripts
  bin/setup
  bin/update
Labels: none

Prompt for reCAPTCHA keys in setup script
  bin/setup
Labels: none

Bump Ruby version to 2.7.2
  .github/workflows/ci-cd.yml
  .ruby-version
  Dockerfile
  Dockerfile.prod
  Gemfile
  Gemfile.lock
  README.md
Labels: dependencies, docker, ruby

Happy New Year!
  README.md
Labels: none

Bump QR code libs
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby

Ensure we can always describe a commit; include working tree state in version
  bin/git-description
  lib/roombooking/version.rb
Labels: ruby

Bump build artefact cache key to resolve issue with GitHub Actions
  .github/workflows/ci-cd.yml
Labels: none

Bump shields.io badge in README
  README.md
Labels: none

Disable Yarn audit
  .github/workflows/ci-cd.yml
Labels: none

Refine dependabot.yml
  .github/dependabot.yml
Labels: none

Bump Rails version badge in README
  README.md
Labels: none

Bump Rails version in README badge
  README.md
Labels: none

Remove nonessential GitHub Action workflows
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
Labels: none

Only run CI/CD on master and release branches
  .github/workflows/ci-cd.yml
Labels: none

Migrate to sentry-ruby gem
  Gemfile
  Gemfile.lock
  app/controllers/admin/dashboard_controller.rb
  app/controllers/application_controller.rb
  app/jobs/camdram_token_refresh_job.rb
  app/jobs/sentry_job.rb
  app/jobs/user_permission_refresh_job.rb
  app/services/admin/show_import_service.rb
  config/application.rb
  config/initializers/sentry.rb
Labels: dependencies, ruby

Skip task not step
  .github/workflows/ci-cd.yml
Labels: none

Fix code autoloading issue
  config/environments/production.rb
  config/initializers/cache.rb
  config/initializers/rack_attack.rb
Labels: ruby

Queue submissions to Sentry separately
  app/jobs/sentry_job.rb
  config/sidekiq.yml
Labels: ruby

Kill Sentry submission jobs on failure
  app/jobs/sentry_job.rb
Labels: ruby

Update to latest version of Ruby
  .github/workflows/ci-cd.yml
  .ruby-version
  Dockerfile
  Dockerfile.prod
  Gemfile
  Gemfile.lock
  README.md
Labels: dependencies, docker, ruby

Fix deprecated ActiveModel::Errors message array syntax
  app/validators/email_validator.rb
  app/validators/slack_webhook_validator.rb
Labels: ruby

Fix deprecated ActiveModel::Errors message array syntax
  app/validators/email_validator.rb
  app/validators/slack_webhook_validator.rb
Labels: ruby

Refactor caching code
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/cache.rb
Labels: ruby

Fix deprecation warning in test
  config/environments/test.rb
Labels: ruby

Add helper to version module
  lib/roombooking/version.rb
Labels: ruby

Quantise bookings to quarter-hour intervals
  app/models/booking.rb
  test/models/booking_test.rb
Labels: ruby

Add 15 minute buffer window to bookings
  app/models/booking.rb
  app/views/pages/home.html.erb
Labels: html, ruby

Fix booking positions in calendar view
  app/helpers/rooms_helper.rb
Labels: ruby

Remove restrictions on venues, keyholding and attendee registration
  README.md
  app/models/booking.rb
  app/services/bookings/booking_service.rb
  app/views/bookings/_booking.html.erb
  app/views/bookings/_form.html.erb
  app/views/pages/home.html.erb
  app/webpacker/src/javascripts/keyhold.js
  test/models/booking_test.rb
Labels: html, javascript, ruby

Bump release codename
  lib/roombooking/version.rb
Labels: ruby

Fix bug in exception handling
  app/controllers/admin/dashboard_controller.rb
  app/services/admin/show_import_service.rb
Labels: ruby

Clarify overlap error message
  app/models/booking.rb
Labels: ruby

Allow back-to-back performance bookings
  app/models/booking.rb
Labels: ruby

Move batch import result logic into helpers and controllers
  app/controllers/admin/camdram_shows_controller.rb
  app/helpers/admin_helper.rb
  app/views/admin/camdram_shows/_batch_job_results.html.erb
Labels: html, ruby

Fix kill switch in ResponseCacheStore
  config/environments/development.rb
  lib/roombooking/camdram_api/response_cache_store.rb
Labels: ruby

Track result of batch import jobs
  app/controllers/admin/camdram_shows_controller.rb
  app/jobs/batch_import_job.rb
  app/models/batch_import_result.rb
  app/views/admin/camdram_shows/_batch_job_results.html.erb
  app/views/admin/camdram_shows/index.html.erb
  db/migrate/20210921181442_create_batch_import_results.rb
  db/schema.rb
  test/jobs/batch_import_job_test.rb
Labels: html, ruby

Include hostname in cache-key derivation when caching Camdram API requests
  lib/roombooking/camdram_api/client_factory.rb
Labels: ruby

Improve handling of batch import results
  app/controllers/admin/camdram_shows_controller.rb
  app/views/admin/camdram_shows/_batch_job_results.html.erb
  app/views/admin/camdram_shows/index.html.erb
Labels: html, ruby

Remove superfluous sleeps
  app/jobs/ical_generation_job.rb
Labels: ruby
