Repository CHTJonas/roombooking, changes with the labels that .github/labeler.yml gives for each.
All labels: css, dependencies, docker, html, javascript, ruby

.github/labeler.yml:

css:
- "**/*.css"
- "**/*.scss"
- "**/*.sass"

dependencies:
- "Gemfile"
- "Gemfile.lock"
- "yarn.lock"

docker:
- "**/Dockerfile"
- "**/docker-compose.yml"

html:
- "**/*.html"
- "**/*.html.erb"

javascript:
- "**/*.js"
- "**/*.coffee"
- "yarn.lock"

ruby:
- "**/*.rb"
- "**/*.ruby"
- "Gemfile"
- "Gemfile.lock"

Bump camdram from `d2d74e7` to `738926a`
  Gemfile.lock
Labels: dependencies, ruby

Bump various JS dependencies
  yarn.lock
Labels: dependencies, javascript

Remove Peek
  Gemfile
  Gemfile.lock
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.scss
  app/controllers/application_controller.rb
  app/views/layouts/application.html.erb
  config/initializers/peek.rb
  config/routes.rb
Labels: css, dependencies, html, javascript, ruby

Add endpoint for Prometheus to scrape metrics
  Gemfile
  Gemfile.lock
  Procfile
  config/initializers/prometheus.rb
  config/initializers/sidekiq.rb
  config/puma.rb
Labels: dependencies, ruby

Collect application-level metrics in Prometheus
  Procfile
  config/initializers/prometheus.rb
  lib/collectors/application_collector.rb
Labels: ruby

Revert recaptcha from 5.4.0 to 5.3.0"
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby

Remove eager loading in UserController
  app/controllers/users_controller.rb
Labels: ruby

Disable Prometheus by default
  config/initializers/prometheus.rb
  config/initializers/sidekiq.rb
  config/puma.rb
Labels: ruby

Add Camdram async notice for users
  app/views/users/show.html.erb
Labels: html

Remove eager loading from login session handler
  lib/roombooking/auth.rb
Labels: ruby

Rescue from StandardError
  app/controllers/admin/dashboard_controller.rb
  app/services/admin/show_import_service.rb
  lib/roombooking/auth.rb
  lib/roombooking/route_constraints/admin_constraint.rb
Labels: ruby

Normalise line endings in mailer tests
  test/mailers/contact_form_mailer_test.rb
  test/mailers/email_verification_mailer_test.rb
Labels: ruby

Push images to Docker Hub using GitHub Actions
  .github/workflows/docker.yml
Labels: none

Push prod Docker images
  .github/workflows/docker.yml
Labels: none

Add additional unit tests to room model
  test/models/room_test.rb
Labels: ruby

Bump to Ruby 2.6.6
  .github/workflows/ci-cd.yml
  .ruby-version
  Dockerfile
  Dockerfile.prod
  Gemfile
  Gemfile.lock
  README.md
Labels: dependencies, docker, ruby

Use UTC for all times
  app/controllers/admin/dashboard_controller.rb
  app/controllers/users_controller.rb
  app/models/booking.rb
  app/models/camdram_token.rb
  app/models/room.rb
  app/models/session.rb
  app/models/user.rb
  bin/setup
  config/application.rb
  db/seeds.rb
  lib/tasks/roombooking.rake
  test/fixtures/bookings.yml
  test/fixtures/users.yml
  test/models/camdram_token_test.rb
  test/models/event_test.rb
  test/models/room_test.rb
  test/models/user_test.rb
  test/test_helper.rb
Labels: ruby

Use UTC for all dates
  app/controllers/camdram_shows_controller.rb
  app/controllers/camdram_societies_controller.rb
  app/controllers/rooms_controller.rb
  test/models/booking_test.rb
  test/models/user_test.rb
Labels: ruby

Ensure block bookings for Camdram shows are scheduled correctly
  app/models/camdram_show.rb
Labels: ruby

Prevent bookings that occur after a show's final performance
  app/models/booking.rb
Labels: ruby

Fix NoMethodError when validating a booking
  app/models/booking.rb
Labels: ruby

Add testing of bookings after a show's final performance
  app/models/booking.rb
  test/models/booking_test.rb
Labels: ruby

Switch provider used to bootstrap Ruby environment in CI
  .github/workflows/ci-cd.yml
Labels: none

Fix prompt deprecation in Pry
  .pryrc
Labels: none

Remove march warning notice from Gemfile
  Gemfile
Labels: dependencies, ruby

Refactor calendar view variable name
  app/views/calendar/_roombooking_calendar.html.erb
Labels: html

Upgrade kaminari to v1.2.1 to resolve CVE-2020-11082
  Gemfile.lock
Labels: dependencies, ruby

Correct copyright claim
  README.md
Labels: none

Update CI-CD badge link URL
  README.md
Labels: none

Reformat PaperTrail database migrations
  db/migrate/20181227202004_create_versions.rb
  db/migrate/20181227202005_add_customisations_to_versions.rb
  db/migrate/20181227202339_create_version_associations.rb
  db/migrate/20181227202340_add_transaction_id_column_to_versions.rb
  db/schema.rb
Labels: ruby

Reformat PaperTrail database migrations
  db/migrate/20181227202004_create_versions.rb
  db/migrate/20181227202005_add_customisations_to_versions.rb
  db/migrate/20181227202339_create_version_associations.rb
  db/migrate/20181227202340_add_transaction_id_column_to_versions.rb
  db/schema.rb
Labels: ruby

Add COVID-19 statement of intent to README
  README.md
Labels: none

Update COVID-19 statement based on latest feedback
  README.md
Labels: none

Bump version code name
  lib/roombooking/version.rb
Labels: ruby

Add COVID-19 warning notice to homepage
  app/views/pages/home.html.erb
Labels: html

Bump Rails to v6.0.3.3 to resolve CVE-2020-15169
  Gemfile.lock
  README.md
  package.json
  yarn.lock
Labels: dependencies, javascript, ruby

Commit results of yarn upgrade
  yarn.lock
Labels: dependencies, javascript

Require users to list booking attendees
  app/models/attendee.rb
  app/models/booking.rb
  app/services/bookings/booking_service.rb
  app/views/bookings/_booking.html.erb
  app/views/bookings/_form.html.erb
  db/migrate/20200922185311_create_attendees.rb
  db/migrate/20200922185356_create_join_tables_attendees_bookings.rb
  db/schema.rb
Labels: html, ruby

Fix test suite
  test/fixtures/attendees.yml
  test/models/booking_test.rb
Labels: ruby

Add attendee testing
  test/fixtures/attendees.yml
  test/models/attendee_test.rb
  test/models/booking_test.rb
Labels: ruby
