Repository CHTJonas/roombooking, changes with the labels that .github/labeler.yml gives for each.
All labels: css, dependencies, docker, html, javascript, ruby

.github/labeler.yml:

css:
- "**/*.css"
- "**/*.scss"
- "**/*.sass"

dependencies:
- "Gemfile"
- "Gemfile.lock"
- "yarn.lock"

docker:
- "**/Dockerfile"
- "**/docker-compose.yml"

html:
- "**/*.html"
- "**/*.html.erb"

javascript:
- "**/*.js"
- "**/*.coffee"
- "yarn.lock"

ruby:
- "**/*.rb"
- "**/*.ruby"
- "Gemfile"
- "Gemfile.lock"

Deploy using GitHub Actions
  .github/workflows/push-to-master.yml
Labels: none

Correct deployment action syntax
  .github/workflows/push-to-master.yml
Labels: none

Rename main Actions workflow file
  .github/workflows/ci-cd.yml
Labels: none

Perform Brakeman scan during CI
  .github/workflows/ci-cd.yml
  config/brakeman.ignore
Labels: none

Perform Bundler audits during CI
  .github/workflows/ci-cd.yml
  config/bundler-audit.ignore
Labels: none

Fix critical privilege escalation vulnerability
  app/controllers/users_controller.rb
  app/views/users/_form.html.erb
  app/views/users/show.html.erb
  config/brakeman.ignore
Labels: html, ruby

Ensure static analysis checks pass before deployment
  .github/workflows/ci-cd.yml
Labels: none

Disable Bullet for third-party applications
  app/controllers/legacy_content_controller.rb
  app/controllers/third_party_content_controller.rb
Labels: ruby

Disable Bullet JavaScript alerts
  config/environments/development.rb
Labels: ruby

Run app:update Rake task
  bin/rails
  bin/rake
  config/cable.yml
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/new_framework_defaults_6_0.rb
  config/spring.rb
Labels: ruby

Use Zeitwerk autoloader
  app/assets/javascripts/application.coffee.erb
  app/controllers/application_controller.rb
  app/controllers/users_controller.rb
  app/jobs/camdram_entity_cache_warmup_job.rb
  app/models/camdram_token.rb
  app/models/concerns/camdram_interoperability.rb
  app/models/user.rb
  app/services/admin/show_import_service.rb
  app/services/admin/society_retrieval_service.rb
  app/services/show_enumeration_service.rb
  config/application.rb
  config/initializers/health_check.rb
  config/initializers/sentry.rb
  config/routes.rb
  lib/roombooking/camdram_api.rb
  lib/roombooking/camdram_api/camdram_error.rb
  lib/roombooking/camdram_api/client_error.rb
  lib/roombooking/camdram_api/client_factory.rb
  lib/roombooking/camdram_api/no_access_token.rb
  lib/roombooking/camdram_api/response_cache_store.rb
  lib/roombooking/camdram_api/server_error.rb
  lib/roombooking/camdram_api/timeout_error.rb
  lib/roombooking/route_constraints.rb
  lib/roombooking/route_constraints/admin_constraint.rb
  lib/roombooking/version.rb
  test/integration/camdram_api_test.rb
  test/models/camdram_show_test.rb
  test/models/camdram_society_test.rb
  test/models/camdram_venue_test.rb
  test/test_helper.rb
Labels: ruby

Reduce quantity of initialization autoloading deprecation warnings
  config/initializers/action_mailer.rb
  config/initializers/rack_attack.rb
Labels: ruby

Use Rails 6 defaults
  config/application.rb
  config/initializers/assets.rb
  config/initializers/new_framework_defaults_6_0.rb
Labels: ruby

Switch to Webpacker for managing JavaScript assets
  .browserslistrc
  .editorconfig
  .gitignore
  .yarnrc
  Gemfile
  Gemfile.lock
  app/assets/config/manifest.js
  app/assets/javascripts/admin.coffee
  app/assets/javascripts/application.coffee.erb
  app/assets/javascripts/channels/.keep
  app/assets/javascripts/favourite_bookings.coffee
  app/assets/javascripts/flatpicker.coffee
  app/javascript/channels/consumer.js
  app/javascript/channels/index.js
  app/javascript/packs/admin.js
  app/javascript/packs/application.js.erb
  app/javascript/packs/favourites.js
  app/javascript/packs/flatpicker.js
  app/views/layouts/application.html.erb
  babel.config.js
  bin/webpack
  bin/webpack-dev-server
  config/webpack/development.js
  config/webpack/environment.js
  config/webpack/loaders/erb.js
  config/webpack/production.js
  config/webpack/test.js
  config/webpacker.yml
  package.json
  postcss.config.js
  yarn.lock
Labels: dependencies, html, javascript, ruby

Fix database setup tasks
  db/schema.rb
  lib/tasks/roombooking.rake
Labels: ruby

Tidy JavaScript files
  app/javascript/packs/application.js.erb
  app/javascript/packs/favourites.js
  app/views/layouts/application.html.erb
Labels: html, javascript

Install Flatpicker using Yarn rather than Bundler
  Gemfile
  app/assets/stylesheets/application.scss
  app/javascript/packs/flatpicker.js
  package.json
Labels: css, dependencies, javascript, ruby

Reinstall Yarn lockfile
  yarn.lock
Labels: dependencies, javascript

Reinstall Bundler lockfile
  Gemfile.lock
Labels: dependencies, ruby

Setup Bootstrap via Webpacker rather than Asset Pipeline
  Gemfile
  Gemfile.lock
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/spinner.scss
  app/javascript/packs/application.js.erb
  app/javascript/packs/flatpicker.js
  app/javascript/styles.scss
  app/views/layouts/application.html.erb
  package.json
  yarn.lock
Labels: css, dependencies, html, javascript, ruby

Fix slight calendar caching issue
  app/views/rooms/show.html.erb
Labels: html

Make CSP play nicely with webpack-dev-server
  config/initializers/content_security_policy.rb
Labels: ruby

Substantial improvements to Webpacker
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/cookies.css
  app/controllers/application_controller.rb
  app/javascript/styles.scss
  app/views/layouts/application.html.erb
  app/webpacker/channels/consumer.js
  app/webpacker/channels/index.js
  app/webpacker/packs/application.js.erb
  app/webpacker/packs/application.scss
  app/webpacker/src/javascripts/admin.js
  app/webpacker/src/javascripts/favourites.js
  app/webpacker/src/javascripts/flatpickr.js
  app/webpacker/src/stylesheets/adc_house_colours.scss
  app/webpacker/src/stylesheets/admin.scss
  app/webpacker/src/stylesheets/booking.scss
  app/webpacker/src/stylesheets/calendar.scss
  app/webpacker/src/stylesheets/navbar.scss
  app/webpacker/src/stylesheets/qr.scss
  app/webpacker/src/stylesheets/spinner.scss
  app/webpacker/src/stylesheets/two_factor.scss
  config/webpack/environment.js
  config/webpacker.yml
Labels: css, html, javascript, ruby

Run FontAwesome through Webpacker
  Gemfile
  app/assets/stylesheets/application.scss
  app/views/calendar/_roombooking_calendar.html.erb
  app/views/rooms/index.html.erb
  app/views/rooms/show.html.erb
  app/webpacker/packs/application.scss
  package.json
  yarn.lock
Labels: css, dependencies, html, javascript, ruby

Bump README badge ;)
  README.md
Labels: none

Remove unnecessary Rake tasks
  lib/tasks/roombooking.rake
Labels: none

Remove unused dependency
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby

Various fixes to CSS and JS assets
  app/assets/stylesheets/application.scss
  app/views/layouts/application.html.erb
  app/webpacker/packs/application.js.erb
  app/webpacker/packs/styles.scss
  app/webpacker/src/javascripts/admin.js
  app/webpacker/src/stylesheets/general.scss
Labels: css, html, javascript

Replace development URLs
  .github/workflows/ci-cd.yml
  app/jobs/sitemap_generation_job.rb
  bin/setup
  public/.well-known/security.txt
  public/robots.txt
  test/fixtures/email_verification_mailer/notify_html
  test/fixtures/email_verification_mailer/notify_txt
  test/fixtures/email_verification_mailer/remind_html
  test/fixtures/email_verification_mailer/remind_txt
Labels: ruby

Enable auto-updating to a specific commit/tag
  bin/update
Labels: none

Ensure cached calendar views include latest booking changes
  app/views/rooms/show.html.erb
Labels: html

Fix NoMethodError when booking doesn't have an associated Camdram model
  app/models/booking.rb
Labels: ruby

Fix ArgumentError when throttling notification job
  app/jobs/notification_job.rb
Labels: ruby

Update README
  .editorconfig
  README.md
Labels: none

Ensure weekly bookings in a given range are correctly selected
  app/models/booking.rb
Labels: ruby

Disable CSP for now
  config/initializers/content_security_policy.rb
Labels: ruby

Fix JS ReferenceError when updating favourite bookings
  app/webpacker/src/javascripts/favourites.js
Labels: javascript

Refactor versioning
  app/controllers/application_controller.rb
  app/models/camdram_token.rb
  app/webpacker/packs/application.js.erb
  config/initializers/sentry.rb
  lib/roombooking/camdram_api.rb
  lib/roombooking/version.rb
  test/integration/camdram_api_test.rb
Labels: ruby

Improve Camdram API OAuth2 error handling
  lib/roombooking/camdram_api.rb
Labels: ruby

Disable automatic renewal of Camdram API tokens
  Gemfile.lock
  app/controllers/application_controller.rb
  lib/roombooking/camdram_api/client_factory.rb
Labels: dependencies, ruby
