Repository CHTJonas/roombooking, changes with the labels that .github/labeler.yml gives for each.
All labels: css, dependencies, docker, html, javascript, ruby

Improve error handling when managing shows/societies
  app/controllers/admin/camdram_shows_controller.rb
  app/controllers/admin/camdram_societies_controller.rb
Labels: ruby

Show modal if importing a show/society raises an exception
  app/controllers/admin/camdram_shows_controller.rb
  app/controllers/admin/camdram_societies_controller.rb
Labels: ruby

Enforce descriptive booking names
  app/models/booking.rb
  test/models/booking_test.rb
Labels: ruby

Reintroduce peek bar
  app/assets/javascripts/application.js
  app/controllers/application_controller.rb
Labels: javascript, ruby

Add generic keyholder warning to booking form footer
  app/views/bookings/_form.html.erb
Labels: html

Show dynamic warnings for bookings outside management office hours
  app/views/bookings/_form.html.erb
  app/webpacker/packs/application.js.erb
  app/webpacker/src/javascripts/keyhold.js
Labels: html, javascript

Only add event listeners if element is defined
  app/webpacker/src/javascripts/keyhold.js
Labels: javascript

Add section regarding keyholding to FAQ
  app/views/bookings/_form.html.erb
  app/views/pages/faq.html.haml
Labels: html

Make booking form footer line break responsive
  app/views/bookings/_form.html.erb
Labels: html

Link JS in app manifest
  app/assets/config/manifest.js
Labels: javascript

Bump sidekiq_queue_metrics from revision 71ca49b to 876da92
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby

Bump sassc and fix LoadErrors
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby

Correctly return a room's bookings if the booking ends at midnight
  app/models/room.rb
Labels: ruby

Refactor deprecations in booking validator
  Gemfile.lock
  app/models/booking.rb
  test/integration/camdram_api_test.rb
Labels: dependencies, ruby

Switch to Azure Blob Storage for caching build artefacts
  .github/workflows/ci-cd.yml
Labels: none

Correct static page typos
  app/views/pages/cookies.html.haml
  app/views/pages/faq.html.haml
  app/views/pages/privacy.html.haml
Labels: none

Enforce lowercase user email addresses
  app/models/user.rb
  app/validators/email_validator.rb
Labels: ruby

Upgrade Camdram gem dependency
  Gemfile.lock
  test/integration/camdram_api_test.rb
Labels: dependencies, ruby

Hide automatic bookings on show & society pages
  app/controllers/camdram_shows_controller.rb
  app/controllers/camdram_societies_controller.rb
  app/views/camdram_shows/show.html.erb
  app/views/camdram_societies/show.html.erb
Labels: html, ruby

Fix bug when escaping HTML in titles
  app/views/layouts/application.html.erb
Labels: html

Add Open Graph attributes
  app/views/layouts/application.html.erb
Labels: html

Use hotpatched version of rails_admin gem
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby

Use nicer datetime format when rendering users
  app/helpers/bookings_helper.rb
  app/helpers/date_time_helper.rb
  app/views/bookings/_form.html.erb
  app/views/users/_user.html.erb
Labels: html, ruby

Use native GitHub dependency caching
  .github/workflows/ci-cd.yml
Labels: none

Bump sidekiq_queue_metrics to v3
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby

Add further name validation
  app/models/booking.rb
Labels: ruby

Add unit tests for previous commit
  test/models/booking_test.rb
Labels: ruby

Use edge version of icalendar gem
  Gemfile
  Gemfile.lock
  app/services/ical_generation_service.rb
Labels: dependencies, ruby

Strip whitespace from model attributes
  Gemfile
  Gemfile.lock
  app/models/booking.rb
  app/models/camdram_show.rb
  app/models/camdram_society.rb
  app/models/room.rb
  app/models/user.rb
Labels: dependencies, ruby

Fix NoMethodError when importing some shows.
  app/models/booking.rb
Labels: ruby

Fix ActionView::Template::Error very in limited circumstances
  app/controllers/rooms_controller.rb
Labels: ruby

Fix bug in sitemap generator
  config/sitemap.rb
Labels: ruby

Allow indexing by search engines
  config/sitemap.rb
  public/robots.txt
Labels: ruby

Fix typo
  config/sitemap.rb
Labels: ruby

Ping search engines when updating sitemap
  app/jobs/sitemap_generation_job.rb
Labels: ruby

Prevent search engine indexing on per-page basis
  app/views/admin/camdram_shows/index.html.erb
  app/views/admin/camdram_societies/index.html.erb
  app/views/admin/dashboard/index.html.erb
  app/views/layouts/application.html.erb
  app/views/users/index.html.erb
  app/views/users/show.html.erb
  public/robots.txt
Labels: html

Bump serialize-javascript to v2.1.1
  package.json
  yarn.lock
Labels: dependencies, javascript

Remove new term job
  app/controllers/admin/camdram_shows_controller.rb
  app/jobs/new_term_job.rb
  app/views/admin/camdram_shows/_import_tools.html.erb
  test/jobs/new_term_job_test.rb
Labels: html, ruby

Temporarily extend Camdram module classes
  config/initializers/camdram_extensions.rb
Labels: ruby

Asynchronously mark old shows as dormant
  app/jobs/show_expiry_job.rb
  config/schedule.yml
Labels: ruby

.github/labeler.yml:

css:
- "**/*.css"
- "**/*.scss"
- "**/*.sass"

dependencies:
- "Gemfile"
- "Gemfile.lock"
- "yarn.lock"

docker:
- "**/Dockerfile"
- "**/docker-compose.yml"

html:
- "**/*.html"
- "**/*.html.erb"

javascript:
- "**/*.js"
- "**/*.coffee"
- "yarn.lock"

ruby:
- "**/*.rb"
- "**/*.ruby"
- "Gemfile"
- "Gemfile.lock"
