Repository CHTJonas/roombooking, changes with the labels that .github/labeler.yml gives for each.
All labels: css, dependencies, docker, html, javascript, ruby

Remove admin_only field from rooms table
  app/models/room.rb
  db/migrate/20210923143627_remove_admin_only_from_rooms.rb
  db/schema.rb
  db/seeds.rb
Labels: ruby

Refer to rooms using fixed IDs
  app/models/camdram_show.rb
  app/views/layouts/_footer.html.erb
  db/migrate/20200924202732_add_admin_only_to_rooms.rb
  db/seeds.rb
Labels: html, ruby

Improve booking index page phrasing slightly
  app/views/bookings/_booking_strip.html.erb
Labels: html

Preserve historic booking data by preventing rooms from being deleted
  app/controllers/rooms_controller.rb
  app/models/room.rb
Labels: ruby

More accurate error message
  app/models/room.rb
Labels: ruby

Use plaintext keys when caching Camdram API responses
  config/initializers/faraday_cache.rb
  lib/roombooking/camdram_api/client_factory.rb
  lib/roombooking/camdram_api/response_cache_store.rb
Labels: ruby

Improve handling of batch import results
  app/controllers/admin/camdram_shows_controller.rb
Labels: ruby

Use locking to prevent BatchImportResult race conditions
  app/controllers/admin/camdram_shows_controller.rb
  app/jobs/batch_import_job.rb
  app/models/batch_import_result.rb
  db/migrate/20210921181442_create_batch_import_results.rb
  db/schema.rb
  test/jobs/batch_import_job_test.rb
Labels: ruby

Do not cache Camdram entity names separately
  app/jobs/camdram_entity_cache_warmup_job.rb
  app/models/concerns/camdram_interoperability.rb
  test/jobs/camdram_entity_cache_warmup_job_test.rb
Labels: ruby

Refactor Camdram entity url method
  app/models/concerns/camdram_interoperability.rb
  lib/roombooking/camdram_api.rb
Labels: ruby

Update CamdramEntityCacheWarmupJob
  test/jobs/camdram_entity_cache_warmup_job_test.rb
Labels: ruby

Refresh cache of Camdram API responses in addition to entity names
  app/jobs/camdram_entity_cache_warmup_job.rb
  app/models/concerns/camdram_interoperability.rb
  lib/roombooking/camdram_api/response_cache_store.rb
Labels: ruby

Refactor perform_caching? method
  lib/roombooking/camdram_api/client_factory.rb
  lib/roombooking/camdram_api/response_cache_store.rb
Labels: ruby

Only refresh cached Camdram API responses of active shows
  app/jobs/camdram_entity_refresh_job.rb
Labels: ruby

Remove deprecated "Start new term" button code
  app/jobs/show_expiry_job.rb
  app/services/admin/show_retrieval_service.rb
  app/webpacker/src/javascripts/admin.js
Labels: javascript, ruby

Refresh page after batch import modal is dismissed
  app/webpacker/src/javascripts/admin.js
Labels: javascript

Return nil URLs if an entity has been deleted from Camdram
  app/models/concerns/camdram_interoperability.rb
Labels: ruby

Further tidy up of active/dormant CamdramShow status
  app/jobs/camdram_entity_refresh_job.rb
  app/models/user.rb
  lib/collectors/application_collector.rb
  test/integration/camdram_entities_service_test.rb
  test/jobs/user_permission_refresh_job_test.rb
Labels: ruby

Add historic booking data preservation testing
  test/models/camdram_show_test.rb
  test/models/camdram_society_test.rb
  test/models/room_test.rb
  test/models/user_test.rb
Labels: ruby

Memoize CamdramShow names as part of the database record
  app/jobs/camdram_entity_cache_warmup_job.rb
  app/models/camdram_show.rb
  db/migrate/20211001101444_add_name_to_camdram_shows.rb
  db/schema.rb
Labels: ruby

Fix bug when NotificationJob runs after its booking has been deleted
  app/jobs/notification_job.rb
Labels: ruby

Improve view when a CamdramShow's associated record on Camdram has been deleted
  app/controllers/camdram_shows_controller.rb
  app/views/camdram_shows/show.html.erb
Labels: html, ruby

Refresh user permissions after performing a batch import job
  app/jobs/batch_import_job.rb
Labels: ruby

Improve measures to preserve historic booking data
  app/models/camdram_show.rb
  app/models/camdram_society.rb
  app/models/concerns/data_preservation.rb
  app/models/room.rb
  app/models/user.rb
Labels: ruby

Fix BatchImportJobTest
  test/jobs/batch_import_job_test.rb
Labels: ruby

Update Brakeman ignore list
  config/brakeman.ignore
Labels: none

Introduce batch sizing in various places
  app/jobs/email_verification_reminder_job.rb
  app/jobs/ical_generation_job.rb
  app/jobs/show_expiry_job.rb
  app/jobs/sitemap_generation_job.rb
  app/jobs/user_permission_refresh_job.rb
  app/services/show_enumeration_service.rb
  config/sitemap.rb
Labels: ruby

Improve iCalendar event descriptions
  app/services/ical_generation_service.rb
Labels: ruby

Fix iCal description test
  test/controllers/rooms_controller_test.rb
Labels: ruby

Fix issue with Redis health check
  config/initializers/health_check.rb
Labels: ruby

Add helper to clear cached Camdram API responses
  lib/roombooking/camdram_api/response_cache_store.rb
Labels: ruby

Optimise deletion from cache
  lib/roombooking/camdram_api/response_cache_store.rb
Labels: ruby

Improve Rack Attack protection
  config/initializers/rack_attack.rb
  lib/roombooking/middleware/rate_limiter.rb
Labels: ruby

Adjust RackAttack caching prefix
  config/initializers/rack_attack.rb
Labels: ruby

Disable RackAttack in dev and test
  config/environments/development.rb
  config/environments/test.rb
Labels: ruby

Hide batch import results from back office
  config/initializers/rails_admin.rb
Labels: ruby

Improve email logging
  app/mailers/application_mailer.rb
  config/initializers/action_mailer.rb
Labels: ruby

Require revalidation of email when changed
  app/mailers/email_verification_mailer.rb
  app/models/user.rb
  app/views/email_verification_mailer/create.html.erb
  app/views/email_verification_mailer/create.text.erb
  app/views/email_verification_mailer/remind.html.erb
  app/views/email_verification_mailer/remind.text.erb
  app/views/email_verification_mailer/update.html.erb
  app/views/email_verification_mailer/update.txt.erb
  test/fixtures/email_verification_mailer/create_html
  test/fixtures/email_verification_mailer/create_txt
  test/fixtures/email_verification_mailer/remind_html
  test/fixtures/email_verification_mailer/remind_txt
  test/mailers/email_verification_mailer_test.rb
Labels: html, ruby

Add notes field to rooms
  app/controllers/rooms_controller.rb
  app/models/room.rb
  app/views/rooms/_form.html.erb
  app/views/rooms/show.html.erb
  db/migrate/20211108174444_add_notes_to_rooms.rb
  db/schema.rb
Labels: html, ruby

Add testing for email verification mailer update action
  app/views/email_verification_mailer/update.text.erb
  test/fixtures/email_verification_mailer/update_html
  test/fixtures/email_verification_mailer/update_txt
  test/mailers/email_verification_mailer_test.rb
  test/mailers/previews/email_verification_mailer_preview.rb
Labels: ruby

.github/labeler.yml:

css:
- "**/*.css"
- "**/*.scss"
- "**/*.sass"

dependencies:
- "Gemfile"
- "Gemfile.lock"
- "yarn.lock"

docker:
- "**/Dockerfile"
- "**/docker-compose.yml"

html:
- "**/*.html"
- "**/*.html.erb"

javascript:
- "**/*.js"
- "**/*.coffee"
- "yarn.lock"

ruby:
- "**/*.rb"
- "**/*.ruby"
- "Gemfile"
- "Gemfile.lock"
