Repository CHTJonas/roombooking, changes with the labels that .github/labeler.yml gives for each.
All labels: css, dependencies, docker, html, javascript, ruby

.github/labeler.yml:

css:
- "**/*.css"
- "**/*.scss"
- "**/*.sass"

dependencies:
- "Gemfile"
- "Gemfile.lock"
- "yarn.lock"

docker:
- "**/Dockerfile"
- "**/docker-compose.yml"

html:
- "**/*.html"
- "**/*.html.erb"

javascript:
- "**/*.js"
- "**/*.coffee"
- "yarn.lock"

ruby:
- "**/*.rb"
- "**/*.ruby"
- "Gemfile"
- "Gemfile.lock"

Use aliased Sidekiq::Job module as terminology is better
  app/jobs/batch_import_job.rb
  app/jobs/camdram_entity_cache_warmup_job.rb
  app/jobs/camdram_entity_refresh_job.rb
  app/jobs/camdram_token_refresh_job.rb
  app/jobs/email_verification_reminder_job.rb
  app/jobs/ical_generation_job.rb
  app/jobs/mail_delivery_job.rb
  app/jobs/notification_job.rb
  app/jobs/sentry_job.rb
  app/jobs/show_expiry_job.rb
  app/jobs/sitemap_generation_job.rb
  app/jobs/user_permission_refresh_job.rb
Labels: ruby

Allow bots to scrape pages
  app/controllers/application_controller.rb
Labels: ruby

Move room notes to top of container
  app/views/rooms/show.html.erb
Labels: html

Remove defunct Gemsurance reporting
  Gemfile
  Gemfile.lock
  app/controllers/admin/dashboard_controller.rb
  app/views/admin/dashboard/index.html.erb
  bin/update
Labels: dependencies, html, ruby

Remove rooms view caching
  app/views/rooms/show.html.erb
Labels: html

Track BatchImportJob initiator
  app/controllers/admin/camdram_shows_controller.rb
  app/models/batch_import_result.rb
  db/migrate/20211124233910_add_user_to_batch_import_results.rb
  db/schema.rb
Labels: ruby

Fix seeding
  db/seeds.rb
Labels: ruby

Fix testing
  app/models/batch_import_result.rb
  test/jobs/batch_import_job_test.rb
Labels: ruby

Fix iteration bug when updating user permissions
  app/jobs/user_permission_refresh_job.rb
Labels: ruby

Refresh user permissions when importing single entities
  app/controllers/admin/camdram_shows_controller.rb
  app/controllers/admin/camdram_societies_controller.rb
  app/services/admin/show_import_service.rb
Labels: ruby

Enhance layout of admin import pages
  app/helpers/admin_helper.rb
  app/views/admin/camdram_shows/_camdram_show.html.erb
  app/views/admin/camdram_societies/_camdram_society.html.erb
  app/webpacker/src/stylesheets/admin.scss
Labels: css, html, ruby

Enhance layout of booking form page
  app/views/bookings/_form.html.erb
Labels: html

Memoize CamdramShow and CamdramVenue names
  app/jobs/camdram_entity_cache_warmup_job.rb
  app/models/camdram_show.rb
  app/models/camdram_society.rb
  app/models/camdram_venue.rb
  app/models/concerns/camdram_interoperability.rb
  db/migrate/20211208004503_add_name_to_camdram_societies.rb
  db/migrate/20211208010233_add_name_to_camdram_venues.rb
  db/schema.rb
Labels: ruby

Don't warm Camdram entity cache unless necessary
  app/models/camdram_show.rb
  app/models/camdram_society.rb
  app/models/camdram_venue.rb
  app/models/concerns/camdram_interoperability.rb
Labels: ruby

Add NOT NULL constraint to BatchImportResult-User relation
  app/models/batch_import_result.rb
  app/views/admin/camdram_shows/_batch_job_results.html.erb
  db/migrate/20211209201629_make_batch_import_results_user_not_null.rb
  db/schema.rb
Labels: html, ruby

Add note of thanks/attribution for Camdram API
  app/views/camdram_shows/show.html.erb
  app/views/camdram_societies/show.html.erb
  app/views/pages/about.html.haml
Labels: html

Initial sysop tools WIP
  app/controllers/admin/dashboard_controller.rb
  app/views/admin/dashboard/index.html.erb
  config/routes.rb
Labels: html, ruby

Add basic application stats to Rails::Info page
  app/controllers/application_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/two_factor_controller.rb
  config/initializers/info_counters.rb
  lib/roombooking/info_counter.rb
Labels: ruby

Write user IDs instead of names when logging
  app/controllers/admin/dashboard_controller.rb
  app/controllers/application_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/two_factor_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  lib/roombooking/auth.rb
Labels: ruby

Add restart and shutdown handlers in prod
  app/controllers/admin/dashboard_controller.rb
Labels: ruby

Use HTTP POST for sensitive sysop actions
  app/views/admin/dashboard/index.html.erb
  config/routes.rb
Labels: html, ruby

Update security policies
  SECURITY.md
  public/.well-known/security.txt
Labels: none

Happy New Year
  README.md
Labels: none

Further rewording of admin page
  app/views/admin/dashboard/index.html.erb
Labels: html

Add vanity X-Powered-By header
  app/controllers/application_controller.rb
Labels: ruby

Sort booking form entities
  app/controllers/bookings_controller.rb
Labels: ruby

Tidy booking model code
  app/models/booking.rb
Labels: ruby

Correct error message text
  app/models/booking.rb
Labels: ruby

Improve booking name validation
  app/models/booking.rb
Labels: ruby

Fix quota calculation bug
  app/models/camdram_show.rb
  app/models/camdram_society.rb
Labels: ruby

Remove Procodile
  Procfile
  Procfile.options
  bin/stop
Labels: none

Install sd_notify gem
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby

Update systemd config
  .github/workflows/ci-cd.yml
  app/controllers/admin/dashboard_controller.rb
Labels: ruby

Take sidekiq-scheduler gem directly from Git
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby

Remove uninteresting bookings from index
  app/controllers/bookings_controller.rb
Labels: ruby

Massively improve block booking for ADC shows
  app/models/booking.rb
  app/models/camdram_show.rb
Labels: ruby

Revert "Remove ability for non-admins to book auditions or meetings"
  app/models/booking.rb
Labels: ruby

Improve handling of shows at abnormal times
  app/models/camdram_show.rb
  app/models/email.rb
Labels: ruby

Be more strict about performance times
  app/models/camdram_show.rb
Labels: ruby

Fix typo grr
  app/models/camdram_show.rb
Labels: ruby
