Repository CHTJonas/roombooking, changes with the labels that .github/labeler.yml gives for each.
All labels: css, dependencies, docker, html, javascript, ruby

Update admin show import instructions
  app/views/admin/camdram_shows/index.html.erb
Labels: html

Fix select bugs and improve performance in show expiry job
  app/jobs/show_expiry_job.rb
Labels: ruby

Bump Rails version in README badge
  README.md
Labels: none

Generate Gemsurance reports in the background
  bin/update
Labels: none

Happy New Year!
  README.md
Labels: none

Add user-show and user-society relationships
  app/jobs/user_permission_refresh_job.rb
  app/models/camdram_show.rb
  app/models/camdram_society.rb
  app/models/user.rb
  config/schedule.yml
  db/migrate/20200106221541_create_camdram_entity_permission_relations.rb
  db/schema.rb
Labels: ruby

Ensure access token is present when updating user permissions
  app/jobs/user_permission_refresh_job.rb
Labels: ruby

Improve performance of user permission update job
  app/jobs/user_permission_refresh_job.rb
Labels: ruby

Add error handling to user permission update job
  app/jobs/user_permission_refresh_job.rb
Labels: ruby

Partially revert 0b590cb to allow iterating over admins
  app/jobs/user_permission_refresh_job.rb
Labels: ruby

Add tests for permission refresh job
  test/jobs/user_permission_refresh_job_test.rb
Labels: ruby

Use database relationships to determine user permissions
  app/controllers/users_controller.rb
  app/models/ability.rb
  app/services/bookings/booking_service.rb
  app/services/camdram_entities_service.rb
  app/views/users/show.html.erb
  test/integration/camdram_entities_service_test.rb
Labels: html, ruby

Update Brakeman ignore list
  config/brakeman.ignore
Labels: none

Replace deprecated browser.modern? functionality
  app/controllers/application_controller.rb
Labels: ruby

Revert rack version to 2.0.8 from 2.1.1
  Gemfile.lock
Labels: dependencies, ruby

Fix slight issue with GitHub CI
  .github/workflows/ci-cd.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
Labels: dependencies, docker, ruby

Use systemd to hot-restart when upgrading
  .github/workflows/ci-cd.yml
Labels: none

Fix tests
  test/integration/camdram_api_test.rb
  test/models/camdram_show_test.rb
Labels: ruby

Use standard interface when refreshing Camdram API tokens
  app/models/camdram_token.rb
Labels: ruby

Ensure a booking's start time is set before validating repeat until
  app/models/booking.rb
Labels: ruby

Update test retry block
  test/test_helper.rb
Labels: ruby

Add Dockerfile to build production images
  Dockerfile.prod
Labels: none

Add directory when building prod Docker image
  Dockerfile.prod
Labels: none

Only refresh user permissions if we have a currently valid Camdram API access token for that user.
  app/jobs/user_permission_refresh_job.rb
Labels: ruby

Add unit testing for user email verification
  app/models/user.rb
  test/models/user_test.rb
Labels: ruby

Add unit testing of event model
  test/models/event_test.rb
Labels: ruby

Re-enable CD of release branch
  .github/workflows/ci-cd.yml
  app/webpacker/packs/application.js.erb
  config/initializers/sentry.rb
  lib/roombooking/camdram_api.rb
  lib/roombooking/middleware/header_inserter.rb
  lib/roombooking/version.rb
  test/integration/camdram_api_test.rb
Labels: ruby

Remove unused database semaphore code
  app/models/application_record.rb
  test/models/event_test.rb
Labels: ruby

Update GitHub action syntax
  .github/workflows/ci-cd.yml
Labels: none

Add functionality to show a site notice
  app/views/layouts/_site_notice.html.erb
  app/views/layouts/application.html.erb
  app/webpacker/packs/styles.scss
  app/webpacker/src/stylesheets/site_notice.scss
Labels: css, html

Remove superfluous Brakeman config
  config/brakeman.ignore
Labels: none

Add release series note to 'about' page
  app/views/pages/about.html.haml
Labels: none

Fix NameError at climax of test suite run
  Gemfile
  test/test_helper.rb
Labels: dependencies, ruby

Improve responsive design of show import tools
  app/views/admin/camdram_shows/_import_tools.html.erb
  app/webpacker/src/stylesheets/admin.scss
Labels: css, html

Reword show config admin help text
  app/views/admin/camdram_shows/index.html.erb
Labels: html

Revert "Fix NameError at climax of test suite run"
  Gemfile
  test/test_helper.rb
Labels: dependencies, ruby

Trust all DB connections when running CI tests
  .github/workflows/ci-cd.yml
Labels: none

Add missing job queue drainage after creating new user in test suite
  test/models/user_test.rb
Labels: ruby

Add further detail to privacy page
  app/views/pages/privacy.html.haml
Labels: none

Replace Camdram API exception handling
  app/controllers/application_controller.rb
  app/jobs/camdram_entity_cache_warmup_job.rb
  app/models/concerns/camdram_interoperability.rb
  lib/roombooking/camdram_api.rb
  lib/roombooking/camdram_api/camdram_error.rb
  lib/roombooking/camdram_api/client.rb
  lib/roombooking/camdram_api/client_error.rb
  lib/roombooking/camdram_api/client_factory.rb
  lib/roombooking/camdram_api/server_error.rb
  lib/roombooking/camdram_api/timeout_error.rb
  test/test_helper.rb
Labels: ruby

.github/labeler.yml:

css:
- "**/*.css"
- "**/*.scss"
- "**/*.sass"

dependencies:
- "Gemfile"
- "Gemfile.lock"
- "yarn.lock"

docker:
- "**/Dockerfile"
- "**/docker-compose.yml"

html:
- "**/*.html"
- "**/*.html.erb"

javascript:
- "**/*.js"
- "**/*.coffee"
- "yarn.lock"

ruby:
- "**/*.rb"
- "**/*.ruby"
- "Gemfile"
- "Gemfile.lock"
