Repository CHTJonas/roombooking, changes with the labels that .github/labeler.yml gives for each.
All labels: css, dependencies, docker, html, javascript, ruby

Correctly determine authorised shows and societies for non-admin users
  app/models/user.rb
Labels: ruby

Correctly require Camdram API wrapper gem
  Gemfile
  lib/roombooking/camdram_api/client_factory.rb
Labels: dependencies, ruby

Allow CI to be bypassed via flag in commit message
  .github/workflows/ci-cd.yml
Labels: none

Link to the correct calendar page from a booking
  app/views/bookings/_booking.html.erb
Labels: html

Break overflowing text inside booking HTML elements on calendar
  app/webpacker/src/stylesheets/calendar.scss
Labels: css

Fix logic error in overlapping booking detection
  app/models/booking.rb
Labels: ruby

Remove defunct badges from README
  README.md
Labels: none

End file with blank line
  app/webpacker/packs/application.js.erb
Labels: none

Fix regression in Camdram API error handling
  lib/roombooking/camdram_api.rb
Labels: ruby

Start with a clean slate when updating application
  bin/update
Labels: none

Don't record PaperTrail versions when updating a user's last login time
  app/models/user.rb
Labels: ruby

Slight refactoring of admin dashboard
  app/controllers/admin/dashboard_controller.rb
  app/models/booking.rb
  app/views/admin/dashboard/index.html.erb
  config/routes.rb
Labels: html, ruby

Set PaperTrail whodunnit when creating user and validating email
  app/models/user.rb
Labels: ruby

Add wrapper for Camdram API library for more better handling of errors
  app/models/user.rb
  lib/roombooking/camdram_api.rb
  lib/roombooking/camdram_api/client.rb
  lib/roombooking/camdram_api/client_factory.rb
Labels: ruby

Improve rejection of bookings ending during quiet hours
  app/models/booking.rb
  test/models/booking_test.rb
Labels: ruby

Reject bookings that end on a different day to when they start
  app/models/booking.rb
  test/models/booking_test.rb
Labels: ruby

Prevent bookings that are too far in advanced
  app/models/booking.rb
  test/models/booking_test.rb
Labels: ruby

Send test coverage reports
  .github/workflows/ci-cd.yml
  test/test_helper.rb
Labels: ruby

Remove everything to do with Travis
  .travis.yml
  lib/roombooking/camdram_api.rb
  lib/roombooking/camdram_api/client_factory.rb
  test/test_helper.rb
Labels: ruby

Make variables in dotenv file available to main test helper
  test/test_helper.rb
Labels: ruby

Run CI tests natively rather than in a Docker container
  .github/workflows/ci-cd.yml
Labels: none

Manually set database URL in CI environment
  .github/workflows/ci-cd.yml
Labels: none

Fix CI database connection
  .github/workflows/ci-cd.yml
  config/database.yml
Labels: none

Reduce test coverage target
  codecov.yml
Labels: none

Upload build artefacts after successful CI run
  .github/workflows/ci-cd.yml
Labels: none

Download build artefacts before CI run
  .github/workflows/ci-cd.yml
Labels: none

Improve artefact storage key
  .github/workflows/ci-cd.yml
Labels: none

Correctly download build artefacts in CI
  .github/workflows/ci-cd.yml
Labels: none

Reclone cached Bundler git repos in CI
  .github/workflows/ci-cd.yml
Labels: none

Use build artefacts from master branch if not available
  .github/workflows/ci-cd.yml
Labels: none

Improve handling of date query strings
  app/controllers/rooms_controller.rb
Labels: ruby

Pin version of sassc
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby

Add iCal view testing to rooms controller test
  test/controllers/rooms_controller_test.rb
Labels: ruby

Add testing of Camdram entity service
  app/services/camdram_entities_service.rb
  test/fixtures/camdram_shows.yml
  test/fixtures/camdram_societies.yml
  test/integration/camdram_entities_service_test.rb
Labels: ruby

Do not check quotas if booking has no duration
  app/models/booking.rb
Labels: ruby

Use Array#contain? method for improved readability
  app/models/booking.rb
  app/services/bookings/booking_service.rb
  app/views/bookings/_form.html.erb
Labels: html, ruby

Insert version headers using middleware
  app/controllers/application_controller.rb
  config/application.rb
  lib/roombooking/middleware/header_inserter.rb
Labels: ruby

Add gemsurance reporting to admin dash
  Gemfile
  Gemfile.lock
  app/controllers/admin/dashboard_controller.rb
  app/views/admin/dashboard/index.html.erb
  bin/update
  config/routes.rb
Labels: dependencies, html, ruby

Fix authorisation issue for unknown view formats
  app/controllers/rooms_controller.rb
Labels: ruby

Ignore return code when generating gemsurance reports
  bin/update
Labels: none

.github/labeler.yml:

css:
- "**/*.css"
- "**/*.scss"
- "**/*.sass"

dependencies:
- "Gemfile"
- "Gemfile.lock"
- "yarn.lock"

docker:
- "**/Dockerfile"
- "**/docker-compose.yml"

html:
- "**/*.html"
- "**/*.html.erb"

javascript:
- "**/*.js"
- "**/*.coffee"
- "yarn.lock"

ruby:
- "**/*.rb"
- "**/*.ruby"
- "Gemfile"
- "Gemfile.lock"
