Repository CHTJonas/roombooking, changes with the labels that .github/labeler.yml gives for each.
All labels: css, dependencies, docker, html, javascript, ruby

.github/labeler.yml:

css:
- "**/*.css"
- "**/*.scss"
- "**/*.sass"

dependencies:
- "Gemfile"
- "Gemfile.lock"
- "yarn.lock"

docker:
- "**/Dockerfile"
- "**/docker-compose.yml"

html:
- "**/*.html"
- "**/*.html.erb"

javascript:
- "**/*.js"
- "**/*.coffee"
- "yarn.lock"

ruby:
- "**/*.rb"
- "**/*.ruby"
- "Gemfile"
- "Gemfile.lock"

Fix Sidekiq job argument JSON serialisation warning
  app/mailers/application_mailer.rb
Labels: ruby

Fix typo
  app/models/booking.rb
Labels: ruby

Improve ADC show imports for pantos and LTMs
  app/models/camdram_show.rb
Labels: ruby

Butt Larkum bookings up
  app/models/camdram_show.rb
Labels: ruby

Definite article
  app/models/camdram_show.rb
Labels: ruby

Remove unnecessary Sentry context
  app/controllers/application_controller.rb
Labels: ruby

Improve handling of block bookings during batch imports
  app/jobs/batch_import_job.rb
Labels: ruby

Improve unrecognised performance email
  app/models/camdram_show.rb
Labels: ruby

Send email on show import failure
  app/jobs/batch_import_job.rb
Labels: ruby

Remove booking attendee functionality
  app/models/attendee.rb
  app/models/booking.rb
  db/migrate/20220307214433_drop_attendees_tables.rb
  db/schema.rb
  test/fixtures/attendees.yml
  test/models/attendee_test.rb
Labels: ruby

Remove COVID notice from homepage
  app/views/pages/home.html.erb
Labels: html

Don't kick a booking's room's update_at timestamp
  app/models/booking.rb
Labels: ruby

Remove 15 minute ventilation restriction
  app/models/booking.rb
Labels: ruby

Add ability for admins to override some booking validations
  app/attributes/current.rb
  app/controllers/bookings_controller.rb
  app/models/booking.rb
  app/views/bookings/_form.html.erb
Labels: html, ruby

Extensively refactor authentication and authorisation code
  app/attributes/current.rb
  app/controllers/application_controller.rb
  app/controllers/bookings_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/two_factor_controller.rb
  app/controllers/two_factor_setup_controller.rb
  app/controllers/users_controller.rb
  app/models/booking.rb
  app/models/two_factor_token.rb
  app/models/user.rb
  app/services/bookings/booking_service.rb
  app/services/camdram_entities_service.rb
  app/views/admin/camdram_shows/index.html.erb
  app/views/bookings/_form.html.erb
  app/views/layouts/_navbar_search.html.erb
  app/views/users/show.html.erb
  config/routes.rb
  lib/roombooking/auth.rb
  lib/roombooking/route_constraints/admin_constraint.rb
  test/integration/camdram_entities_service_test.rb
Labels: html, ruby

Revert to pre-covid dressing room arrangements
  app/models/camdram_show.rb
Labels: ruby

Allow block bookings far into the future
  app/attributes/current.rb
  app/models/booking.rb
  app/models/camdram_show.rb
Labels: ruby

Quench deprecation warnings from Redis in production
  config/environments/production.rb
Labels: ruby

Fix tests
  test/models/camdram_venue_test.rb
Labels: ruby

Bump Rails version in README.md
  README.md
Labels: none

Revert "Bump @rails/activestorage from 6.1.5 to 7.0.3"
  package.json
  yarn.lock
Labels: dependencies, javascript

Revert "Bump @rails/activestorage from 6.1.5 to 7.0.3"
  package.json
  yarn.lock
Labels: dependencies, javascript

Remove Datadog APM
  Gemfile
  Gemfile.lock
  config/environments/production.rb
  config/initializers/datadog.rb
  lib/roombooking/camdram_api/client_factory.rb
Labels: dependencies, ruby

Use release version of sidekiq-scheduler
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby

Update security.txt file
  public/.well-known/security.txt
Labels: none

Disable PaperTrail in test
  test/test_helper.rb
Labels: ruby

Use webpack for rails_admin assets
  app/javascript/packs/rails_admin.js
  app/javascript/stylesheets/rails_admin.scss
  config/initializers/rails_admin.rb
  package.json
  yarn.lock
Labels: css, dependencies, javascript, ruby

Bump Rails badge version
  README.md
Labels: none

Shows with a two week run don't have a second get-in
  app/models/camdram_show.rb
Labels: ruby

Bump Rails version number in README badge
  README.md
Labels: none

Fix bug batch importing shows that have performances elsewhere than the ADC/Playroom
  app/jobs/batch_import_job.rb
Labels: ruby

Remove note about defunct room ventilation breaks
  app/views/bookings/_form.html.erb
Labels: html

Fix timezone bug when finding a room's bookings
  app/models/room.rb
Labels: ruby

Further DST bugfixes when finding a room's bookings
  app/models/room.rb
Labels: ruby

Add note to autogenerated bookings
  app/models/camdram_show.rb
Labels: ruby

Fix test suite
  test/integration/omniauth_csrf_test.rb
  test/models/room_test.rb
Labels: ruby

Bump Rails version number in README badge
  README.md
Labels: none

Bump Rails version number in README badge
  README.md
Labels: none

Revert "Use webpack for rails_admin assets"
  app/javascript/packs/rails_admin.js
  app/javascript/stylesheets/rails_admin.scss
  config/initializers/rails_admin.rb
  package.json
  yarn.lock
Labels: css, dependencies, javascript, ruby

Remove sidekiq-scheduler
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby
