Repository CHTJonas/roombooking, changes with the labels that .github/labeler.yml gives for each.
All labels: css, dependencies, docker, html, javascript, ruby

.github/labeler.yml:

css:
- "**/*.css"
- "**/*.scss"
- "**/*.sass"

dependencies:
- "Gemfile"
- "Gemfile.lock"
- "yarn.lock"

docker:
- "**/Dockerfile"
- "**/docker-compose.yml"

html:
- "**/*.html"
- "**/*.html.erb"

javascript:
- "**/*.js"
- "**/*.coffee"
- "yarn.lock"

ruby:
- "**/*.rb"
- "**/*.ruby"
- "Gemfile"
- "Gemfile.lock"

Improve attendee regexp
  app/models/attendee.rb
Labels: ruby

Auto-annotate attendee model with schema
  app/models/attendee.rb
Labels: ruby

Fix regression in auto-annotation after DB migrations
  lib/tasks/auto_annotate_models.rake
Labels: none

Add ability to limit non-admin bookings to certain rooms
  app/models/booking.rb
  app/models/room.rb
  db/migrate/20200924202732_add_admin_only_to_rooms.rb
  db/schema.rb
  db/seeds.rb
Labels: ruby

Allow admins to circumvent attendee registration
  app/models/booking.rb
  test/models/booking_test.rb
Labels: ruby

Convert legacy booking times to UTC
  db/migrate/20200925191342_change_booking_time_zones_to_universal_time.rb
  db/schema.rb
Labels: ruby

Do not prune Puma's bundler context
  config/puma.rb
Labels: ruby

Silence repetitive redis warnings
  config/initializers/redis.rb
Labels: ruby

Source embedded ruby executable for CD
  .github/workflows/ci-cd.yml
Labels: none

Prevent bookings outside management hours
  app/models/booking.rb
  app/views/bookings/_form.html.erb
  app/webpacker/src/javascripts/keyhold.js
  test/models/booking_test.rb
Labels: html, javascript, ruby

Remove ability for non-admins to book auditions or meetings
  app/models/booking.rb
Labels: ruby

Add note on max attendees to booking form
  app/views/bookings/_form.html.erb
Labels: html

Fix threading bug with pg_search library
  config/initializers/search.rb
Labels: ruby

Fix issue with update script
  .github/workflows/ci-cd.yml
  bin/update
Labels: none

Make labels on booking form more descriptive
  app/views/bookings/_form.html.erb
Labels: html

Refactor git version information
  app/webpacker/packs/application.js.erb
  config/initializers/sentry.rb
  lib/roombooking/camdram_api.rb
  lib/roombooking/middleware/header_inserter.rb
  lib/roombooking/version.rb
  test/integration/camdram_api_test.rb
Labels: ruby

Refactor version info on about page
  app/views/pages/about.html.haml
  lib/roombooking/version.rb
Labels: ruby

Fix bug determining git description for version
  bin/git-description
  lib/roombooking/version.rb
Labels: ruby

Ensure update script fetches git tags
  bin/update
Labels: none

Run rubocup over lib directory
  lib/collectors/application_collector.rb
  lib/roombooking/auth.rb
  lib/roombooking/camdram_api.rb
  lib/roombooking/camdram_api/client_factory.rb
  lib/roombooking/crypto.rb
  lib/roombooking/host.rb
  lib/roombooking/markdown.rb
  lib/roombooking/markdown/camdram_parser.rb
  lib/roombooking/markdown/markdown_factory.rb
  lib/roombooking/middleware/rate_limiter.rb
  lib/roombooking/route_constraints/admin_constraint.rb
  lib/roombooking/version.rb
  lib/tasks/auto_annotate_models.rake
  lib/tasks/roombooking.rake
Labels: ruby

Add rubocop config file
  .rubocop.yml
Labels: none

Run rubocup over test directory
  test/application_system_test_case.rb
  test/controllers/rooms_controller_test.rb
  test/integration/camdram_api_test.rb
  test/integration/camdram_entities_service_test.rb
  test/integration/camdram_markdown_test.rb
  test/integration/crypto_test.rb
  test/integration/omniauth_csrf_test.rb
  test/jobs/batch_import_job_test.rb
  test/jobs/camdram_entity_cache_warmup_job_test.rb
  test/jobs/camdram_entity_refresh_job_test.rb
  test/jobs/email_verification_reminder_job_test.rb
  test/jobs/sitemap_generation_job_test.rb
  test/jobs/user_permission_refresh_job_test.rb
  test/mailers/contact_form_mailer_test.rb
  test/mailers/email_verification_mailer_test.rb
  test/mailers/previews/contact_form_mailer_preview.rb
  test/models/attendee_test.rb
  test/models/booking_test.rb
  test/models/camdram_show_test.rb
  test/models/camdram_society_test.rb
  test/models/camdram_token_test.rb
  test/models/camdram_venue_test.rb
  test/models/contact_form_submission_test.rb
  test/models/event_test.rb
  test/models/room_test.rb
  test/models/user_test.rb
  test/slack_test_helper.rb
  test/test_helper.rb
Labels: ruby

Fix syntax error in protection task
  lib/tasks/roombooking.rake
Labels: none

Remove unused nginx config and error page
  nginx.conf
  public/maint.html
Labels: html

Refactor Puma's handling of environment variables
  Gemfile
  config/boot.rb
  config/prod.rb
  config/puma.rb
Labels: dependencies, ruby

Update CI workflow steps
  .github/workflows/ci-cd.yml
Labels: none

Fix management hours end_time bounds check
  app/models/booking.rb
Labels: ruby

Revert "Fix threading bug with pg_search library"
  config/initializers/search.rb
Labels: ruby

Execute rails tasks inside bundler context
  bin/setup
  bin/update
Labels: none

Decrease verbosity of Sidekiq logs in prod
  config/initializers/sidekiq.rb
Labels: ruby

Bump Camdram API lib revision
  Gemfile.lock
Labels: dependencies, ruby

Remove version header from HTTP responses
  config/application.rb
  lib/roombooking/middleware/header_inserter.rb
Labels: ruby

Increase cache freshness of static assets
  config/environments/production.rb
  config/environments/test.rb
Labels: ruby

Ensure encoded responses are not served from cach incorrectly
  lib/roombooking/middleware/public_cache_manager.rb
Labels: ruby

Further reduce caching of non-static assets
  lib/roombooking/middleware/public_cache_manager.rb
Labels: ruby

Mark robots.txt as uncachable
  lib/roombooking/middleware/public_cache_manager.rb
Labels: ruby

Bump yell to v2.2.2
  Gemfile.lock
Labels: dependencies, ruby

Add bootsnap precompilation step to binstubs
  bin/setup
  bin/update
Labels: none

Fix bug in determining whether or not to use bootsnap
  .github/workflows/ci-cd.yml
  config/boot.rb
Labels: ruby

Perform a Yarn audit when running CI static analysis
  .github/workflows/ci-cd.yml
Labels: none
